<!-- CONTENEDOR PRINCIPAL: Ahora tiene una clase para manejar Flexbox -->
<div class="layout-container">

    <!-- SIDEBAR WRAPPER -->
    <div class="sidebar-wrapper" [class.closed]="!sidebarVisible">

        <p-drawer
            [(visible)]="sidebarVisible"
            [closable]="false"
            [modal]="isMobile"
            styleClass="custom-drawer">

            <!-- HEADER -->
            <ng-template pTemplate="header">

                <div class="drawer-header">

                    <div class="logo-container">

                        <div class="logo-icon">
                            <img src="/logo_hoja.jpg" alt="logo">
                        </div>

                        <div class="logo-text">
                            <h2>PlantCare AI</h2>
                            <span>IA Especializada</span>
                        </div>

                    </div>

                    <button
                        pButton
                        type="button"
                        class="new-scan-btn"
                        (click)="crearNuevoEscaneo()"
                        style="width: 100%;">

                        <i class="pi pi-plus"></i>

                        <span>Nuevo Escaneo</span>

                    </button>
                    
                    <!-- TÍTULO -->
                    <div class="section-title">
                        Mis Diagnósticos
                    </div>
                </div>
                

            </ng-template>

            <!-- CONTENIDO -->
            <ng-template pTemplate="content">

                <div class="chat-list">

                    <div
                        *ngFor="let chat of chats"
                        class="chat-item"
                        [class.active]="chatSeleccionado?.id === chat.id"
                        (click)="seleccionarChat(chat)">

                        <div class="chat-left">

                            <div class="chat-icon">
                                <img src="/logo_hoja.jpg" alt="logo">
                            </div>

                            <div class="chat-info">

                                <div class="chat-title">
                                    {{ chat.titulo.replace("Análisis:", "") }}
                                </div>

                                <div class="chat-subtitle">
                                    Diagnóstico agrícola
                                </div>

                            </div>

                        </div>

                        <button
                            pButton
                            type="button"
                            icon="pi pi-ellipsis-v"
                            class="p-button-text p-button-sm chat-menu-btn"
                            (click)="chatSeleccionado = chat; op.toggle($event)">
                        </button>
                        
                        <p-popover #op>
                            <div style="display: flex; flex-direction: column; gap:10px;">

                                <button
                                    pButton
                                    type="button"
                                    icon="pi pi-pencil"
                                    label="Editar"
                                    class="p-button-text"
                                    (click)="editarChat(chatSeleccionado); op.hide()">
                                </button>

                                <button
                                    pButton
                                    type="button"
                                    icon="pi pi-trash"
                                    label="Eliminar"
                                    class="p-button-text p-button-danger"
                                    (click)="eliminarChat(chatSeleccionado); op.hide()">
                                </button>

                            </div>
                        </p-popover>

                    </div>

                </div>

            </ng-template>

            <!-- FOOTER -->
            <ng-template pTemplate="footer">

                <div class="user-bar">

                    <button
                        pButton
                        type="button"
                        class="user-button p-button-text p-button-plain"
                    >

                        <!-- IZQUIERDA: ICON + USER -->
                        <div class="left">
                            <i class="pi pi-user avatar-icon"></i>

                            <span class="username">
                            {{ user?.username || 'Usuario' }}
                            </span>
                        </div>

                        <!-- DERECHA: MENU -->
                        <button
                                pButton
                                type="button"
                                icon="pi pi-ellipsis-v"
                                class="ellipsis-button p-button-text p-button-plain"
                                (click)="opUser.toggle($event)"
                            >
                        </button>

                    </button>
                    
                </div>

                <!-- POPOVER -->
                <p-popover #opUser>

                    <div class="popover-content">

                        <div class="user-card">
                            <div class="user-header">
                                <h4>Hola, {{ user?.username | titlecase }}</h4>
                            </div>

                            <div class="user-info">
                                <p><strong>Email:</strong> {{ user?.email }}</p>
                                <p><strong>Nombre:</strong> {{ user?.first_name }}</p>
                                <p><strong>Apellido:</strong> {{ user?.last_name }}</p>
                            </div>

                            <div class="plan-badge">
                                {{ user?.plan?.nombre }}
                            </div>

                            <div class="credits">
                                <div class="credit-box">
                                <span class="label">Créditos diarios</span>
                                <span class="value">
                                    {{ user?.plan?.creditos_diarios }}
                                </span>
                                <small>Actualiza 24h</small>
                                </div>

                                <div class="credit-box highlight">
                                <span class="label">Créditos restantes</span>
                                <span class="value">
                                    {{ user?.creditos?.restantes }}
                                </span>
                                <small>Disponibles</small>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <button 
                            pButton
                            class="p-button-text p-button-danger" 
                            (click)="logout()"
                            icon="pi pi-sign-out"
                            style="width: 100%"
                        >
                            Cerrar sesión
                        </button>

                    </div>

                </p-popover>

            </ng-template>

        </p-drawer>



    </div>

    <!-- CONTENEDOR PRINCIPAL -->
    <div class="content-container">

        <!-- TOPBAR -->
        <div class="topbar">

            <!-- IZQUIERDA -->
            <div class="topbar-left">

                <button
                    pButton
                    type="button"
                    class="p-button-text"
                    (click)="sidebarVisible = !sidebarVisible">

                    <i 
                        class="pi"
                        [ngClass]="sidebarVisible ? 'pi-angle-left' : 'pi-angle-right'">
                    </i>

                    <span>
                        {{ sidebarVisible ? 'Ocultar' : 'Menu' }}
                    </span>

                </button>

            </div>

            <!-- DERECHA -->
            <div class="topbar-right">

                <button
                    pButton
                    type="button"
                    class="p-button-text"
                    (click)="logout()">

                    <i class="pi pi-sign-out"></i>

                    <span>Cerrar sesión</span>

                </button>

            </div>

            <!-- DERECHA -->
            <div class="topbar-left" *ngIf="isMobile">

                <button
                    pButton
                    type="button"
                    class="p-button-text"
                    (click)="chatVisible = !chatVisible">

                    <i 
                        class="pi"
                        [ngClass]="chatVisible ? 'pi-angle-left' : 'pi-angle-right'">
                    </i>

                    <span>
                        {{ chatVisible ? 'Ocultar' : 'Chat' }}
                    </span>

                </button>

            </div>

        </div>

        <!-- MAIN -->
        <main class="main-content">

            <!-- CHAT -->
            
            <div *ngIf="chatSeleccionado?.id; else bienvenida">

                <div class="main-card-header">
                    <h1>Centro Inteligente de Diagnóstico Vegetal</h1>

                    <p>
                        Escanea plantas, conversa con IA especializada,
                        analiza patrones globales y recibe recomendaciones
                        profesionales en tiempo real.
                    </p>
                </div>

                <div class="main-container">

                    <!-- Imagen -->
                    <div class="main-container-card">

                        <div class="main-card">
                            <h3>Imagen Escaneada</h3>
                        </div>

                        <div class="main-card" style="margin: auto;">
                            <!-- LOADING -->
                            <div
                                *ngIf="diagnosticoSeleccionado?.estado_imagen === 'Pendiente' || diagnosticoSeleccionado?.estado_imagen === 'Procesando'"
                                class="flex justify-center align-items-center"
                                style="display: flex; align-items: center; justify-content: center;"
                            >
                                <p-progressSpinner></p-progressSpinner>
                            </div>

                            <!-- ERROR -->
                            <div
                                *ngIf="diagnosticoSeleccionado?.estado_imagen === 'error'"
                                class="flex flex-column justify-center align-items-center"
                                style="height: 300px; text-align: center;"
                            >
                                <i class="pi pi-times-circle" style="font-size: 2rem; color: red;"></i>
                                <p style="margin-top: 10px; color: red;">
                                Error al procesar la imagen
                                </p>
                            </div>

                            <!-- IMAGE COMPARE -->
                            <p-imagecompare
                                *ngIf="diagnosticoSeleccionado?.estado_imagen !== 'pendiente'
                                    && diagnosticoSeleccionado?.estado_imagen !== 'procesando'
                                    && diagnosticoSeleccionado?.estado_imagen !== 'error'
                                    && diagnosticoSeleccionado?.planta?.imagen
                                    && diagnosticoSeleccionado?.imagen"
                                class="shadow-lg rounded-2xl"
                                style="width: 300px; height: 300px; display: flex;"
                            >
                                <ng-template #left>
                                <img
                                    [src]="diagnosticoSeleccionado?.planta?.imagen"
                                    alt="Planta sana"
                                    style="width: 100%; height: 100%; object-fit: cover;"
                                />
                                </ng-template>

                                <ng-template #right>
                                <img
                                    [src]="diagnosticoSeleccionado?.imagen"
                                    alt="Planta escaneada"
                                    style="width: 100%; height: 100%; object-fit: cover;"
                                />
                                </ng-template>
                            </p-imagecompare>

                        </div>

                    </div>

                    <!-- Salud -->
                    <div class="main-container-card">
                        <div class="main-card">
                            <h3>Salud de planta</h3>
                        </div>

                        <div class="main-card" style="margin: auto;">

                            <p-knob
                                [(ngModel)]="diagnosticoSeleccionado.porcentaje_salud"
                                [readonly]="true"
                                [size]="150"
                                [strokeWidth]="20"
                                style="line-height: 0; display: block;">
                            </p-knob>
                        </div>

                        <div class="main-card">
                            <div class="info-row">
                                <span class="label">Hoja :</span>
                                <span class="value">{{ diagnosticoSeleccionado?.planta.nombre }}</span>
                            </div>

                            <div class="info-row">
                                <span class="label">Enfermedad :</span>
                                <span class="value">{{ diagnosticoSeleccionado?.enfermedad_detectada }}</span>
                            </div>

                            <div class="info-row">
                                <span class="label">Severidad :</span>
                                <span class="value">{{ diagnosticoSeleccionado?.severidad }}</span>
                            </div>

                            <div class="info-row">
                                <span class="label">Confianza IA :</span>
                                <span class="value">{{ diagnosticoSeleccionado?.confianza_ia }}%</span>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Prevención -->
                <div class="main-container">
                    <div class="diagnostic-card">
                    <div class="main-card">
                        <h3>Cómo prevenir</h3>
                    </div>

                    <div class="main-card">

                        <p>
                            {{ diagnosticoSeleccionado?.como_prevenir }}
                        </p>
                    </div>

                </div>

                <!-- Tratamiento -->
                <div class="diagnostic-card">

                    <h3>Tratamiento</h3>

                    <p>
                        {{ diagnosticoSeleccionado?.tratamiento }}
                    </p>

                </div>
                </div>

                

            </div>

            <!-- BIENVENIDA -->
            <ng-template #bienvenida>

                <div class="welcome-container">

                    <div class="welcome-card">

                        <div class="card-principle">
                    
                            <!-- ICON -->
                            <div class="hero-icon">
                                <i class="pi pi-bolt"></i>
                            </div>

                            <!-- TITLE -->
                            <h1>PlantCare AI</h1>

                            <p class="welcome-description">
                                Detecta enfermedades en cultivos usando inteligencia artificial avanzada.
                            </p>

                            <!-- ACTIONS -->
                            <div class="action-buttons">

                                <!-- Estado: sin imagen -->
                                <ng-container *ngIf="!hasImage && !isAnalyzing">

                                    <input
                                        type="file"
                                        #fileInput
                                        accept="image/*"
                                        hidden
                                        (change)="onFileSelected($event)">

                                    <button
                                        pButton
                                        type="button"
                                        class="upload-btn"
                                        (click)="fileInput.click()"
                                    >
                                        <i class="pi pi-upload"></i>
                                        <span>Subir Imagen</span>
                                    </button>

                                    <button
                                        pButton
                                        type="button"
                                        class="camera-btn"
                                        (click)="tomarFoto()"
                                    >
                                        <i class="pi pi-camera"></i>
                                        <span>Tomar Foto</span>
                                    </button>

                                </ng-container>

                                <!-- Estado: imagen lista -->
                                <ng-container *ngIf="hasImage && !isAnalyzing">
                                    
                                    <button
                                        pButton
                                        type="button"
                                        class="analyze-btn"
                                        (click)="enviarAnalisis()"
                                    >
                                        <i class="pi pi-search"></i>
                                        <span>Analizar planta</span>
                                    </button>

                                </ng-container>

                                <!-- Estado: analizando -->
                                <ng-container *ngIf="isAnalyzing">
                                    <p>Analizando planta...</p>
                                </ng-container>

                            </div>
                        </div>

                        <div class="card-secondary">
                            <!-- PREVIEW -->
                            <div *ngIf="imagePreview && !isAnalyzing" class="preview-container">

                                <img
                                    [src]="imagePreview"
                                    alt="Preview">

                                <button
                                    pButton
                                    type="button"
                                    icon="pi pi-times"
                                    class="remove-image-btn p-button-rounded"
                                    (click)="cancelarImagen()">
                                </button>

                            </div>
                        </div>
                        
                        <!-- LOADER -->
                        <div
                            *ngIf="isAnalyzing"
                            class="loader-container">

                            <p-progressSpinner
                                strokeWidth="4"
                                styleClass="custom-spinner">
                            </p-progressSpinner>

                            <h3>
                                Analizando cultivo...
                            </h3>

                            <p>
                                La IA está evaluando tejidos vegetales y posibles enfermedades.
                            </p>

                        </div>

                    </div>

                </div>

            </ng-template>

        </main>
    </div>

    <div class="chat-wrapper" [class.closed]="!chatVisible">

        <p-drawer
            [(visible)]="chatVisible"
            [closable]="false"
            [modal]="isMobile"
            position="right"
            styleClass="custom-drawer-chat"
        >
            <!-- HEADER -->
            <ng-template pTemplate="header">

                <div class="drawer-header-chat">
                    <div class="logo-container-chat">
                        <div class="logo-text-chat">
                            <h2>IA Especializada en esta Planta</h2>
                            <span>Conversación basada en la imagen analizada</span>
                        </div>
                        <div class="logo-icon-chat">
                            <img src="/logo_hoja.jpg" alt="logo">
                        </div>

                    </div>

                    <div *ngIf="diagnosticoSeleccionado" class="container-chat" style="margin: auto;">
                        
                        <div class="content-chat-card">
                            <!-- LOADING -->
                            <div
                                *ngIf="diagnosticoSeleccionado?.estado_imagen === 'Pendiente' || diagnosticoSeleccionado?.estado_imagen === 'Procesando'"
                                class="flex justify-center align-items-center"
                                style="display: flex; align-items: center; justify-content: center;"
                            >
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                            
                            <!-- IMAGEN-->
                            <img
                                *ngIf="diagnosticoSeleccionado?.imagen"
                                [src]="diagnosticoSeleccionado?.imagen"
                                alt="Imagen planta"
                                class="plant-image"
                            />
                        </div>
                        
                    </div>
                </div>
            </ng-template>

            <!-- CONTENIDO -->
            <ng-template pTemplate="content">

                <div #scrollContainer class="mensajes-container">

                    <div
                        *ngFor="let mensaje of mensajes"
                        [ngClass]="{
                            'mensaje-usuario': mensaje.tipo === 'usuario',
                            'mensaje-ia': mensaje.tipo === 'ia'
                        }"
                    >

                        <span *ngIf="mensaje.texto !== 'Analizando planta...'">
                            {{ mensaje.texto }}
                        </span>

                        <div
                            *ngIf="mensaje.texto === 'Analizando planta...'"
                            class="typing-loader"
                        >
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                    </div>

                </div>

            </ng-template>

            <!-- FOOTER -->
            <ng-template pTemplate="footer">

                <div class="chat-footer">

                    <input
                        pInputText
                        type="text"
                        placeholder="Escribe un mensaje..."
                        class="chat-input"
                        [(ngModel)]="nuevoMensaje"
                        [disabled]="isSendingMessage"
                        (keydown.enter)="enviarMensaje()"
                    />

                    <button
                        pButton
                        type="button"
                        icon="pi pi-send"
                        class="p-button-rounded p-button-primary"
                        [disabled]="isSendingMessage"
                        (click)="enviarMensaje()"
                    ></button>

                </div>

            </ng-template>
        </p-drawer>
    </div>
    
</div>



















