/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

/* TOAST MENSAJE */
.p-toast {
  z-index: 1200 !important;
}

.p-toast-message {
  padding: 10px 5px;
}

.p-toast-message-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.p-toast-message-icon {
  font-size: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
}

:root {
    --primary: #10B981;
    --primary-light: #D1FAE5;
    --primary-shadow: rgba(28, 107, 78, 0.25);

    --primary-grey: #f5f6f8;

    --background-sidebar: #10B981;
    --background-grey: #f5f6f8;;

    --secondary: #059669;
    --secondary-dark: #065F46;
    --secondary-light: #34D399;
    --secondary-dark-shadow: rgba(4, 120, 87, 0.30);

    --white-letter: white;
    --grey--letter: #6b7280;
    --green-letter: #047857;
}


/* QUITAR SCROLL DE CONTENT */
.custom-drawer .p-drawer-content {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-drawer .p-drawer-content::-webkit-scrollbar {
    display: none;
}



@media (max-width: 768px) {
  .p-toast {
    width: 90vw !important;
    left: 50% !important;
    transform: translateX(-50%);
  }

  .p-toast-message {
    width: 100% !important;
    font-size: 13px;
    padding: 10px 12px;
  }
}