/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

/* TOAST MENSAJE */
.p-toast {
  z-index: 9999 !important;
}

.p-toast-message {
  padding: 10px 5px;
}

.p-toast-message-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.p-toast-message-icon {
  font-size: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
}

/* QUITAR SCROLL DE CONTENT */
.custom-drawer .p-drawer-content {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-drawer .p-drawer-content::-webkit-scrollbar {
    display: none;
}

/* ===========================
    ESTILOS GENERALES 
=========================== */
:root[data-theme="light"] {

    /* ===========================
        BRAND
    =========================== */
    --color-primary: #10B981;
    --color-primary-hover: #059669;
    --color-primary-active: #34D399;
    --color-primary-subtle: #ECFDF5;

    --color-gradient-1: var(--color-primary);
    --color-gradient-2: #065F46;

    /* ===========================
       SURFACES
    =========================== */
    --surface-background: #FFFFFF;
    --surface-card: #FFFFFF;
    --surface-card-hover: #f5f6f8;
    --surface-secondary: #FFFFFF;
    --surface-overlay: #383838;

    /* ===========================
       BORDERS
    =========================== */
    --border-brand:#A7F3D0;
    --border-color: #e5e7eb;
    --border-color-hover: #3A3A3A;
    --border-color-focus: var(--color-primary);

    /* ===========================
       TEXT
    =========================== */
    --text-brand: #10B981;
    --text-primary: #1F2937;
    --text-secondary: #4B5563;
    --text-muted: #6B7280;
    --text-inverse: #FFFFFF;
    --text-on-primary: #FFFFFF;

    /* ===========================
       Base palette
    =========================== */
    --color-green: #10B981;
    --color-green-subtle: #D1FAE5;
    --color-green-border: #bbf7d0;
    --color-green-text: var(--color-green);


    --color-yellow: #ca8a04;
    --color-yellow-subtle: #fef9c3;
    --color-yellow-border: #fed7aa;
    --color-yellow-text: var(--color-yellow);


    --color-red: #EF4444;
    --color-red-subtle: #FEF2F2;
    --color-red-border: #fecaca;
    --color-red-text: var(--color-red);


    --color-blue: #3B82F6;
    --color-blue-subtle: #DBEAFE;
    --color-blue-border: #bae6fd;
    --color-blue-text: var(--color-blue);

    --color-purple: #8B5CF6;
    --color-purple-subtle: #EDE9FE;
    --color-purple-border: #e9d5ff;
    --color-purple-text: var(--color-purple);

    --color-orange: #F97316;
    --color-orange-subtle: #FFEDD5;
    --color-orange-border: #FED7AA;
    --color-orange-text: #C2410C;

    /* Principal */
    --primary-palette: rgba(255,255,255,.7);

    /* ===========================
       SHADOWS
    =========================== */
    --shadow-sm: 0 2px 6px rgba(17, 24, 39, 0.05);
    --shadow-md: 0 6px 14px rgba(17, 24, 39, 0.10);
    --shadow-lg: 0 10px 24px rgba(17, 24, 39, 0.15);

    /* ===========================
       RADIUS
    =========================== */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;

    /* ===========================
       TRANSITIONS
    =========================== */
    --transition-fast: .15s;
    --transition-normal: .25s; 

}

/* ===========================
    MODO DARK 
=========================== */
:root[data-theme="dark"] {
    /* ===========================
       BRAND
    =========================== */
    --color-primary: #10B981;
    --color-primary-hover: #059669;
    --color-primary-active: #6EE7B7;
    --color-primary-subtle: #064E3B;

    --color-gradient-1: #064E3B;
    --color-gradient-2: #022C22;


    /* ===========================
       SURFACES
    =========================== */
    --surface-background: #121212;
    --surface-card: #1E1E1E;
    --surface-card-hover: #2A2A2A;
    --surface-secondary: #2E2E2E;
    --surface-overlay: #1E1E1E;

    /* ===========================
       BORDERS
    =========================== */
    --border-brand:#34D399;
    --border-color: #2E2E2E;
    --border-color-hover: #3A3A3A;
    --border-color-focus: var(--color-primary);

    /* ===========================
       TEXT
    =========================== */
    --text-brand: #FFFFFF;
    --text-primary: #F9FAFB;
    --text-secondary: #9CA3AF;
    --text-muted: #6B7280;
    --text-inverse: #111827;
    --text-on-primary: #FFFFFF;


    /* ===========================
       Base palette
    =========================== */
    --color-green: #10B981;
    --color-green-subtle: #064E3B;
    --color-green-border: #065F46;
    --color-green-text: #6EE7B7;

    --color-yellow: #F59E0B;
    --color-yellow-subtle: #4A3300;
    --color-yellow-border: #7A4E00;
    --color-yellow-text: #FCD34D;

    --color-red: #EF4444;
    --color-red-subtle: #3F1F1F;
    --color-red-border: #7F1D1D;
    --color-red-text: #FCA5A5;

    --color-blue: #3B82F6;
    --color-blue-subtle: #1E3A8A;
    --color-blue-border: #1D4ED8;
    --color-blue-text: #93C5FD;

    --color-purple: #8B5CF6;
    --color-purple-subtle: #2E1A4D;
    --color-purple-border: #5B3A9E;
    --color-purple-text: #C4B5FD;

    --color-orange: #F97316;
    --color-orange-subtle: #2F1A0F;
    --color-orange-border: #7C2D12;
    --color-orange-text: #FDBA74;

    /* Principal */
    --background-palette: rgba(0, 0, 0, .7);


    /* ===========================
       SHADOWS
    =========================== */
    --shadow-sm: 0 1px 2px rgba(0,0,0,.30);
    --shadow-md: 0 4px 10px rgba(0,0,0,.45);
    --shadow-lg: 0 12px 28px rgba(0,0,0,.55);

    /* ===========================
       RADIUS
    =========================== */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;

    /* ===========================
       TRANSITIONS
    =========================== */
    --transition-fast: .15s;
    --transition-normal: .25s;
}


/* ===========================
    INPUT TEXT
=========================== */
.p-inputtext {
  padding: 10px 14px !important;
  border-radius: 12px !important;
  border: 2px solid var(--border-color) !important;
  background-color: var(--surface-secondary) !important;
  color: var(--text-primary) !important;
}

.p-inputtext::placeholder,
.p-inputicon {
    color: var(--text-secondary) !important;
}

.p-inputtext:focus {
  border: 2px solid var(--color-primary) !important;
}

/* INPUT TEXT CON ICON */
.p-iconfield .p-inputtext {
  padding-left: 2.75rem !important;
}

.p-iconfield:focus-within .p-inputicon {
  color: var(--color-primary) !important;
}

/* ===========================
    PASSWORD
=========================== */
.p-password input {
  width: 100% !important;
  padding-right: 2.2rem !important; /* espacio para el icono */
  padding-left: 14px !important;
  border-radius: 12px !important;
  border: 2px solid var(--border-color) !important;
}

.p-password .p-password-toggle-mask {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

/* ===========================
    BUTTON
=========================== */
.p-button {
  border-radius: 20px !important;
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--text-on-primary) !important;
}

.p-button:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
}

/* BUTTON - TEXT */
.p-button.p-button-text {
  background: transparent !important;
  color: var(--text-secondary) !important;
  border-color: transparent !important;
}

.p-button.p-button-text:enabled:hover {
  background-color: var(--color-primary-subtle) !important;
  color: var(--text-brand) !important;
}

/* BUTTON - OUTLINED */
.p-button.p-button-outlined {
  background: transparent !important;
  color: var(--color-primary) !important;
  border-color: var(--border-brand) !important;
}

.p-button.p-button-outlined:enabled:hover {
  background-color: var(--color-primary-subtle) !important;
  color: var(--color-primary) !important;
  border-color: var(--border-brand) !important;
}

/* BUTTON - DANGER */
.p-button.p-button-danger {
  color: var(--color-red) !important;
}

.p-button.p-button-outlined.p-button-danger:enabled:hover {
  background-color: var(--color-red-subtle) !important;
  color: var(--color-danger) !important;
  border-color: blue !important;
}

/* ===========================
    SELECT
=========================== */
.p-select {
  background-color: var(--surface-card) !important;
  border-radius: 12px !important;
  border: 2px solid var(--border-color) !important;
  min-height: 46px !important;
  display: flex !important;
  align-items: center !important;
}

.p-select.p-focus {
  border-color: var(--color-primary) !important;
  box-shadow: none !important;
}

.p-select .p-select-label {
  color: var(--text-primary) !important;
}

.p-select.p-placeholder .p-select-label {
  color: var(--text-secondary) !important;
}

/* PANEL SELECT*/
.p-select-overlay {
  background: var(--surface-background) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 12px !important;
}

.p-select-option {
  background-color: transparent !important;
  color: var(--text-primary) !important;
}

.p-select-option:hover {
  background-color: var(--surface-secondary) !important;
  color: var(--text-primary) !important;
}

.p-select-option[aria-selected="true"] {
  background: var(--color-primary-subtle) !important;
  color: var(--text-brand) !important;
}

/* ===========================
    DIALOG
=========================== */
.p-dialog {
  background-color: var(--surface-card) !important;
  border-color: var(--border-color) !important;
}

.p-dialog .p-dialog-close-button {
    background-color: var(--surface-card) !important;
    color: var(--text-secondary) !important;
    border-color: var(--surface-card) !important;
}

.p-dialog .p-dialog-close-button:enabled:hover {
  background-color: var(--surface-secondary) !important;
  border-color: var(--surface-secondary) !important;
  color: var(--text-secondary) !important;
}



/* ===========================
    ACORDEON
=========================== */
p-accordion-content * {
  margin-top: 0;
}

.p-accordion .p-accordionheader {
  background-color: var(--surface-card) !important;
  box-shadow: var(--shadow-md);
  color: var(--text-primary) !important;
  border-bottom: none !important;
  margin: 0 !important;
}

.p-accordion .p-accordionpanel-active .p-accordionheader {
  color: var(--color-primary) !important;
  box-shadow: none !important;
}
.p-accordion .p-accordionpanel-active .p-accordionheader-toggle-icon{
    color: var(--color-primary) !important;
}

.p-accordion .p-accordionheader:hover {
  background: var(--surface-card-hover) !important;
}

.p-accordion .p-accordioncontent-content {
  background: var(--surface-card) !important;
  box-shadow: var(--shadow-md);
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 0 5px 5px;
}

.p-accordion .p-accordionpanel {
  border: none !important;
  margin-bottom: 20px !important;
  padding: 0 !important;
}

/* ===========================
    POPOVER
=========================== */
.p-popover {
  border-radius: 20px !important;
  background-color: var(--surface-card) !important;
  border-color: var(--border-color) !important;
  box-shadow: var(--shadow-md) !important;
  color: var(--text-primary);
  overflow: hidden;
}
.p-popover .p-popover-content {
  border-radius: 20px !important;
  overflow: hidden;
}

/* ===========================
    GALLERIA
=========================== */
.p-galleria {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-galleria button {
  background: var(--color-primary) !important;
  z-index: 10 !important;
}

/* ===========================
    TOOLTIP
=========================== */


.p-tooltip .p-tooltip-text{
  line-height: 1.2;
  font-size: 11px;
  background-color: var(--surface-background) !important;
  color: var(--text-brand) !important;
  box-shadow: var(--shadow-md);
  font-weight: 600;
}

@media (max-width: 768px) {
  .p-toast {
    width: 90vw !important;
    left: 50% !important;
    transform: translateX(-50%);
  }

  .p-toast-message {
    width: 100% !important;
    font-size: 13px;
    padding: 10px 12px;
  }

  .p-galleria {
    display: block;
  }
}